h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: left;
}

.clothingItem {
    font-family: 'Lato', sans-serif;
    border-color: lightgrey;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 1px 1px lightgrey;
    margin: 1%;
    padding: 0px 0px 30px 0px;
    max-width: 328px;
    text-align: center;
    color: grey
}
    .clothingItem .btn {
        color: grey;
        font-size: 1.2em;
        padding: 7px 25px;
    }
    .clothingItem h4 {
        max-width: 322px;
        margin-top: 20px;
        margin-bottom: 2px;
    }
    .clothingItem h3 {
        max-width: 322px;
        margin-top: 2px;
        margin-bottom: 10px;
    }

.btn-default {
    border-color: grey;
    border-width: 1.1px;
}
.btn:focus {
    outline: 0;
    background-color: white;
}


.clothingItem.clicked {
    border-color: rgb(10,0,208);
}
    .clothingItem.clicked .btn-default {
        border-color: rgb(10,0,208);
        color: rgb(10,0,208);
        border-width: 1.2px;
    }

#myModal {
    margin-top:50px;
    padding-top: 50px;
    border-style: none;
}
    #myModal h1 {
        text-align: center;
        margin-bottom: 30px;
    }

.modal-backdrop {
    background-color: white;
    margin-top: 50px;
}
    .modal-backdrop.in {
        opacity: .88;
    }
.modalImage img {
    display: block;
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-bottom: 20px;
    border-width: 1px;
    border-style: solid;
}

.modalDescription {
    font-family: 'Lato', sans-serif;
    text-align: right;
    color: grey;
    position: absolute;
    right: 30px;
    width: 350px;
}
    .modalDescription h4 {
        font-size: 1.6em;
        margin-bottom: 0px;
    }
    .modalDescription h3 {
        font-size: 1.6em;
        margin-top: 0px;
    }
.modalIcon {
    font-size: 1.3em;
    color: grey;
    position: absolute;
    right: 0px;
    cursor: pointer;
    margin-top: 10px;
}

#myModal .firstColumn h1{
    text-align: left;
    margin-left:10px;
}
#myModal .secondColumn h1 {
    text-align: right;
}
#myModal .backButton {
    margin-top:20px;
    margin-left:200px;
    border-color: grey;
    border-width: 1.1px;
    background-color:white;
    color:grey;
    width:120px;
}
#myModal .backButton:hover {
    background-color:lightgrey;
}

hr {
    border: none;
    height: 3px;
    color: #333; 
    background-color: #333; 
}

.noItemMessage h1 {
    padding-top: 40px;
    padding-bottom:60px;
    font-weight: normal;
}